.text-primary1 {
  color: #00a9ae !important;
}
.text-shadow {
  color: #00a9ae !important;
}
.btn-success1 {
  background-color: #00a9ae;
  color: #ffffff !important;
}
.input-group-text {
  text-align: left;
}
