<div class="card card-primary">
  <div class="card-body text-primary">
    <i class="material-icons"></i>
    <label>จองบริการ</label>
  </div>
</div>

<form [formGroup]="form">
  <div class="card-body">
    <div class="card mb-3" style="max-width: 100%">
      <div class="card-body text-primary">
        <label for="inputCostomer" class="col-form-label">ลูกค้า</label>
        <div class="col-lg-8">
          <div class="form-group row">
            <div class="col-lg-2">
              <label for="inputID" class="col-form-label">เลขบัตรประชาชน</label>
            </div>
            <div class="col-lg-6">
              <input
                type="text"
                class="form-control"
                id="inputID"
                formControlName="ID"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="form-group row">
            <div class="col-lg-2">
              <label for="inputTel1" class="col-form-label"
                >เบอร์โทรศัพท์มือถือ</label
              >
            </div>
            <div class="col-lg-6">
              <input
                type="tel"
                class="form-control"
                id="inputTel1"
                formControlName="tel"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card mb-3" style="max-width: 100%">
      <div class="card-body text-primary">
        <label for="inputCostomer" class="col-form-label">ข้อมูลลูกค้า</label>

        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-2">
                <label for="inputKID" class="col-form-label">KUBOTA ID</label>
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  id="inputKID"
                  formControlName="KID"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-2">
                <label for="inputName" class="col-form-label">ชื่อลูกค้า</label>
              </div>
              <div class="col-lg">
                <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  style="margin-left: 0px"
                  formControlName="name"
                />
              </div>
              <div class="col-lg-1"></div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-2">
                <label for="inputTel2" class="col-form-label">เบอร์โทร</label>
              </div>
              <div class="col-lg">
                <input
                  type="tel"
                  class="form-control"
                  id="inputTel2"
                  formControlName="tel2"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputHour2" class="col-form-label"
                  >ชั่วโมงการใช้งาน</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="inputHour2"
                  formControlName="hour2"
                />
              </div>
              <div class="col-lg-1">
                <label
                  for="inputhour"
                  class="col-form-label"
                  style="margin-left: -20px"
                  >ชั่วโมง</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card mb-3" style="max-width: 100%">
      <div class="card-body text-primary">
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputType" class="col-form-label">ประเภทงาน</label>
              </div>
              <div class="col-lg">
                <div class="form-group">
                  <select
                    id="inputState"
                    class="form-control"
                    formControlName="state"
                  >
                    <option selected>ประเภทงาน...</option>
                    <option>ซ่อมทั่วไป</option>
                    <option>เปลี่ยนสีรถยนต์</option>
                    <option>ล้างรถยนต์</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputHour3" class="col-form-label"
                  >ชั่วโมงการใช้งาน</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="inputHour3"
                  formControlName="hour3"
                />
              </div>
              <div class="col-lg-1">
                <label
                  for="inputhour"
                  class="col-form-label"
                  style="margin-left: -20px"
                  >ชั่วโมง</label
                >
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputDetail" class="col-form-label"
                  >อาการเสีย</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="text"
                  class="form-control"
                  id="inputDetail"
                  formControlName="detail"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputTradeName" class="col-form-label"
                  >ร้านค้าบริการ</label
                >
              </div>
              <div class="col-lg">
                <output
                  class="input-group-text"
                  formControlName="tradeName"
                  placeholder=""
                  >คูโบต้าชัยศิริขอนแก่น</output
                >
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputDate" class="form-label"
                  >วันที่จองบริการ</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="date"
                  class="form-control"
                  id="inputDate"
                  formControlName="date"
                  style="margin-left: -16px"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputTime" class="col-form-label"
                  >เวลาจองบริการ</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="time"
                  class="form-control"
                  id="inputTime"
                  formControlName="time"
                />
              </div>
              <div class="col-lg-1"></div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label
                  for="inputIDName"
                  class="col-form-label"
                  style="margin-left: -5px"
                  >ID/ชื่อช่างบริการ</label
                >
              </div>
              <div class="col-lg">
                <div class="form-group">
                  <select
                    id="inputState"
                    class="form-control"
                    formControlName="IDName"
                    style="margin-left: -20px"
                  >
                    <option selected>ชื่อช่างบริการ...</option>
                    <option>ชนกันต์ คุรากร</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card mb-3" style="max-width: 100%">
      <div class="card-body text-primary">
        <label for="inputRate" class="col-form-label">ประเมินค่าใช้จ่าย</label>
        <div class="form-group row b">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-2 text-lg-left">
                <label for="inputWage" class="col-form-label"
                  >ค่าแรงพนักงาน</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="inputWage"
                  formControlName="wage"
                />
              </div>
              <div class="col-lg-1">
                <label
                  for="inputPromotiom"
                  class="col-form-label"
                  style="margin-left: -20px"
                  >บาท</label
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputOtherCost" class="col-form-label"
                  >ค่าอะไหล่สิ้นเปลือง</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="inputOtherCost"
                  formControlName="otherCost"
                />
              </div>
              <div class="col-lg-1">
                <label
                  for="inputPromotiom"
                  class="col-form-label"
                  style="margin-left: -20px"
                  >บาท</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-2 text-lg-left">
                <label for="inputCostCar" class="col-form-label">ค่ารถ</label>
              </div>
              <div class="col-lg">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="inputCostCar"
                  formControlName="costCar"
                />
              </div>
              <div class="col-lg-1">
                <label
                  for="inputPromotiom"
                  class="col-form-label"
                  style="margin-left: -20px"
                  >บาท</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card mb-3" style="max-width: 100%">
      <div class="card-body text-primary">
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-2">
                <label for="inputIDTool" class="col-form-label"
                  >รหัสอะไหล่</label
                >
              </div>
              <div class="col-lg">
                <input
                  type="text"
                  class="form-control"
                  id="inputIDTool"
                  formControlName="IDTool"
                  style="margin-left: -15px"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputCost" class="col-form-label">ราคา</label>
              </div>
              <div class="col-lg">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="inputCost"
                  formControlName="cost"
                />
              </div>
              <div class="col-lg-1">
                <label
                  for="inputBaht"
                  class="lg-col-1 col-form-label"
                  style="margin-left: -20px"
                  >บาท</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-lg-auto">
                <label for="inputPromotiom" class="col-form-label"
                  >โปรโมชั่นส่วนลด</label
                >
              </div>
              <div class="input-group mb-3 col-lg" style="margin-left: -13px">
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-describedby="button-addon2"
                  formControlName="promotion"
                />
                <div class="input-group-append">
                  <button class="btn btn-dark" type="button" id="button-addon2">
                    ใช้โค้ด
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-6 "> -->
          <div class="col-lg-6 text-right">
            <button type="button" class="btn col-lg-3 button">เพิ่ม</button>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card mb-3" style="max-width: 100%">
      <div class="card-body text-primary">
        <div class="form-group row">
          <label for="inputIDTool" class="col-lg col-form-label"
            >ประเมินค่าใช้จ่าย</label
          >
        </div>
        <div class="card-body">
          <table class="table" border="0" cellpadding="4" cellspacing="0">
            <thead>
              <tr>
                <th scope="col"><p>รายละเอียด</p></th>
                <th scope="col"><p>ราคา</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="5">
                  <p>ค่าแรงพนังงาน</p>
                  <p>ค่ารถ</p>
                  <p>W9501-H1101:กรองน้ำมันเชื้อเพลิง</p>
                  <p>น้ำมันเครื่อง</p>
                  <p>ส่วนลดมูลค่ารวม</p>
                </td>
                <td rowspan="5">
                  <p>฿ 200</p>
                  <p>฿ 100</p>
                  <p>฿ 270</p>
                  <p>฿ 1,500</p>
                  <p>- ฿ 177</p>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr colspan="5">
                <th scope="col"><p>รวม</p></th>
                <th scope="col"><p>฿ 1,893</p></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="col-sm-12 text-right">
  <button type="submit" (click)="submit()" class="btn col-sm-3 button">
    ยืนยัน
  </button>
</div>
<br />
